body{
    background-color: white;
}
.naam {
    font-family: Perpetua, serif;
    font-size: 60px;
    margin: 0;
    padding: 0;
}
.vertline{
    border-left: solid 3px black;
    height: 1200px;
    position:absolute;
    left: 0.75%;
    margin: 0px;
}
.vertlineright{
    border-left: solid 3px black;
    height: 1200px;
    position:absolute;
    left: 101%;
    margin: 0;
}
.marginloos{
    margin: 0;
}
p{
    margin: 0;
    font-family: Perpetua, serif;
}
.Links {
    background-color: dimgrey;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0.75%;
    right: 82.5%;
    z-index: -1;
    margin: 0px;
}
table{
    border-width: 5px;
    border-color: #c7ced8;
}
tr{
    margin-top: 10%;
}
td{
    margin-bottom: 1em;
}
.hfdtable{
    font-family: "Times New Roman", serif;
    font-size: 28px;
    font-weight: bold;
    padding-top: 30px;
}
.txttable{
    font-family: "Times New Roman", serif;
    font-size: 20px;
}
.tlntable{
    width: 150px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
}
.midtekst{
    justify-content: center;
    font-family: "Times New Roman", serif;
}
.divr{
    position: sticky;
    bottom: 0;
    margin-left: 340px;
    width: 1400px;
    border: 3px solid black;
    color: black;
}
.tussentitels1{
    font-size: 38px;
    color: mediumseagreen;
    border-bottom: 3px mediumseagreen solid;
    display: inline-block;
    padding-right: 1100px;
}
.tussentitels2{
    font-size: 38px;
    color: orange;
    border-bottom: 3px orange solid;
    display: inline-block;
    padding-right: 1100px;
}
.tussentitels3{
    font-size: 38px;
    color: mediumpurple;
    border-bottom: 3px mediumpurple solid;
    display: inline-block;
    padding-right: 1100px;
}
.tekstr{
    font-size: 24px;
    font-family: "Times New Roman", serif;
}
h2 {
    margin-top: auto;
    font-size: 28px;
    font-family: "Times New Roman", serif;
}
.plaatsen{
    margin-top: auto;
    margin-bottom: 1px;
    font-size: 26px;
    font-family: "Times New Roman", serif;
}
.circle{
    background-color: lightgrey;
    position: fixed;
    border-radius: 50%;
    left: 65%;
    bottom: 45%;
    height: 1500px;
    width: 1500px;
    ;
}