.naam {
    font-family: Serif Perpetua;
    font-size: 60px;
    margin: 0;
    padding: 0;
}
.vertline{
    border-left: solid 3px black;
    height: 1200px;
    position:absolute;
    left: 0.75%;
}
.vertlineright{
    border-left: solid 3px black;
    height: 1200px;
    position:absolute;
    left: 100.5%;
    margin: 0;
}
.marginloos{
    margin: 0;
}
p{
    margin: 0;
    font-family: Perpetua, Serif;
}
.Links {
    background-color: darkgrey;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0.75%;
    right: 82.55%;
    z-index: -1;
}
.hfdtable{
    font-family: "Times New Roman";
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0;
    font-weight: bold;
}
.txttable{
    font-family: "Times New Roman";
    font-size: 18px;
    margin-top: 0;
    padding: 0;
}