body {background-color: #d9ddd7;}
body {font-family: Verdana, sans-serif;}
h1 {color: #54f542 }
.p {
    background-color: #6a7689;
    color: white;
    padding: 20px;
}
.highlight {
    color: blue;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.LinkN {
    color: black;
}